<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Shopping Card</title>
    <link href="/css/shoppingcart.css" rel="stylesheet" />
    <script type="text/javascript" src="js/vue241.js"></script>
    <script type="text/javascript" src="js/shoppingcart.js"></script>
</head>
<body>
    <div id="app">
        <p v-if="isLoading">Loading</p>
        <h2>Shopping Cart</h2>
        <p v-if="!cart.length">No items</p>
        <div class="cart">
            <div class="item" v-for="(item,index) in cart">
                <div class="image">
                    <a v-bind:href="item.url">
                        <img v-bind:src="item.image" />
                    </a>
                </div>
                <div class="info">
                    <h4>{{item.name}}</h4>
                    <p class="seller">by {{item.seller}}</p>
                    <p class="status available" v-if="item.isAvailable">In Stock</p>
                    <p class="shipping" v-if="item.isEligible">Elligible for FREE Shipping & FREE Returns</p>
                    <a href="#" v-on:click="removeFromCart(index)">Delete</a>
                    <a href="#" v-on:click="saveForLater(index)" class="secondary">Save For Later</a>
                </div>
                <p class="price">${{item.price}}</p>
            </div>
            <div class="subtotal">
                Subtotal ({{cart.length}} items): <span class="price">${{cartTotal}}</span>
            </div>
        </div>

        <h2 class="saved-header">Saved Cart ({{saved.length}} item(s))</h2>
        <div class="cart">
            <div class="item" v-for="(item,index) in saved">
                <div class="image">
                    <a v-bind:href="item.url">
                        <img v-bind:src="item.image" />
                    </a>
                </div>
                <div class="info">
                    <h4>{{item.name}}</h4>
                    <p class="seller">by {{item.seller}}</p>
                    <p class="status available" v-if="item.isAvailable">In Stock</p>
                    <p class="shipping" v-if="item.isEligible">Elligible for FREE Shipping & FREE Returns</p>
                    <a href="#" v-on:click="removeFromSaved(index)">Delete</a>
                    <a href="#" v-on:click="movetoCart(index)" class="secondary">Move To Cart</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>